<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1 class="mb-3">
                <img src="/assets/secure-icon.png" alt="icon" width="20%" />
            </h1>
            <h2>
                Login
            </h2>
            <%- include ("./messages") %>
                <form action="/auth/login" method="POST" onsubmit="return validateCaptcha()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control"
                            placeholder="Enter Password" />
                    </div>
                    <div class="form-group captcha">
                        <style>

                            img {
                                border: none;
                            }
                            #randomImages {
                                width: 60%;
                                height: 60%;
                                overflow: hidden;
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 20px;
                            }                    
                            #randomImages img {
                                width: 30%;
                                height: auto;
                                display: block;
                                margin-left: -5%;
                                margin-right: -5%;
                            }
                        </style>                       

                        <label for="captcha">Captcha</label>
                        <div id="randomImages"> 
                            <%function shiftAndAddDigit(value, newDigit) {%>
                                <%return (value*10 + newDigit);%>
                            <%}%>
                            <% for (let i = 0; i < 4; i++) { %>
                                <%const random = captcha_value[i]; %>
                                <% const randomFolder = imagePaths[parseInt(random)].folder; %>
                                <% const randomFiles = imagePaths[parseInt(random)].files; %>
                                <% const randomImageName = randomFiles[Math.floor(Math.random() * randomFiles.length)]; %>
                                <img src="/attack_utils/images_dirs/<%= randomFolder %>/<%= randomImageName %>" alt="Random Image <%= i + 1 %>">
                            <% } %>
                          </div>   
                          <div>
                            
                          </div>  
                    </div>
                    <div class="form-group captcha">
                        <label for="form-group captcha">Enter a 4-digit number:</label>
                        <input type="text" name="captcha_input" id="captcha_input" maxlength="4" oninput="validateInput(this)" pattern="\d{4}" title="Please enter a 4-digit number">                         
                    </div>
                    <input type="hidden" name="captcha_value" value="<%= captcha_value %>">

                    <style>
                        .captcha {
                            display: flex;
                            gap: 100px;
                            justify-content: center;
                        }
                    </style>
                    <script>
                        function validateInput(input) {
                            input.value = input.value.replace(/\D/g, '');
                            if (input.value.trim() === '') {
                                input.setCustomValidity('Please enter a 4-digit number');
                                enableSubmitButton(false);
                            } else if (/^\d{4}$/.test(input.value)) {
                              input.setCustomValidity('');
                              enableSubmitButton(true);
                            } else {
                              input.setCustomValidity('Please enter a 4-digit number');
                              enableSubmitButton(false);
                            }
                        }
                        function enableSubmitButton(enable) {
                            var submitButton = document.querySelector('button[type="submit"]');
                            submitButton.disabled = !enable;
                        }
                    </script>
                    <button type="submit" class="btn btn-primary btn-block" disabled>Login</button>

                </form>
                <p class="mt-4">
                    New User? <a href="/auth/register">Register</a>
                </p>
                <p>
                    Forgot Password? <a href="/auth/forgot">Reset</a>
                </p>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Reset the value inside the input field
            var captchaInput = document.getElementById('captcha_input');
            if (captchaInput) {
              captchaInput.value = '';
            }

            var urlParams = new URLSearchParams(window.location.search);
            var incorrectCaptcha = urlParams.get('incorrectCaptcha');

            if (incorrectCaptcha === 'true') {
            // Inform the user about the incorrect captcha
                captchaInput.setCustomValidity("Incorrect Captcha");
            }
        
            // Disable the submit button on page load
            enableSubmitButton(false);
        });
        function validateCaptcha() {
            return true
            var captchaInput = document.getElementById('captcha_input');
            var captchaValue = <%= captcha_value %>; // Get the server-side constant value

            // Check if the input value is equal to the constant captcha_value
            if (captchaInput.value.trim() === captchaValue.toString()) {
                console.log("bon");
                captchaInput.setCustomValidity('');
                enableSubmitButton(true);
                return true; // Allow form submission
            } else {
                console.log("Mauvais")
                enableSubmitButton(false);
                window.location.reload();
                var url = window.location.href + '?incorrectCaptcha=true';
                window.location.href = url;
                return false; // Prevent form submission
            }
        }

    </script>

</div>